<template>
  <div>
    <v-badge v-if="$route.name == 'ProductList'" :value="n_items" :content="n_items" overlap>
      <v-icon large @click="show_cart = true" style="cursor:pointer">mdi-cart</v-icon>
    </v-badge>
    <v-dialog scrollable v-model="show_cart" v-if="show_cart">
      <v-card>
        <v-card-title class="headline justify-center">Carrinho</v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-container>

            <v-data-table :search="search" :items="cart_items" :headers="headers">
              <template v-slot:top>
                <v-text-field v-model="search" prepend-inner-icon="mdi-magnify" label="Pesquisar"></v-text-field>

                <div v-if="cat_filter">
                  <v-chip close @click="cat_filter = null" @click:close="cat_filter = null">{{ cat_filter }}</v-chip>
                </div>
              </template>

              <template v-slot:item.category_name="{ item }">
                <v-chip @click="cat_filter = item.category_name" small>{{ item.category_name }}</v-chip>
              </template>

              <template v-slot:item.subcategory_name="{ item }">
                <v-chip @click="cat_filter = item.subcategory_name" small>{{ item.subcategory_name }}</v-chip>
              </template>

              <template>
                <v-tooltip right>
                  <template v-slot:activator="{ on }">
                    <v-btn v-on="on" icon color="black"><v-icon>mdi-delete</v-icon></v-btn>
                  </template>
                  <span>Excluir Produto</span>
                </v-tooltip>
              </template>

              <template v-slot:item.value="{ item }">
                {{ item.value.toLocaleString('pt-BR', {style: 'currency', currency: "BRL"}) }}
              </template>

              <template v-slot:item.qtd="{ item }">
                <span>{{ item.qtd }}</span>
                <v-btn icon small @click="editQtd(item)"><v-icon small>mdi-pencil</v-icon></v-btn>
              </template>

              <template v-slot:item.buttons="{ item }">
                <v-btn @click="removeItem(item)" icon><v-icon>mdi-cart-off</v-icon></v-btn>
              </template>
            </v-data-table>

          </v-container>

            <p class="display-1 text-right">Subtotal: {{ one_cart_value.toLocaleString('pt-BR', {style: 'currency', currency: "BRL"}) }}</p>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions class="justify-end">
          <v-btn class="error" @click="show_cart = false">Fechar</v-btn>
          <v-btn class="success" @click="submitNewCart">Finalizar Carrinho</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="edit_qtd_dialog">
      <v-card>
        <v-card-title>Editar Quantidade</v-card-title>

        <v-card-text>
          <div class="headline">{{ edit_item.name }}</div>
          <v-text-field v-model="edit_item.qtd" type="number" min="1" prepend-icon="mdi-information" label="Quantidade"></v-text-field>
          <small>{{ edit_item.stock }}</small>
        </v-card-text>

        <v-card-actions class="justify-end">
          <v-btn class="error" @click="clearItemEdit">Cancelar</v-btn>
          <v-btn class="success" @click="submitItemEdit">Modificar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

  export default {
    data() {
      return {
        show_cart: false,
        one_cart: [],
        teste: {},
        one_cart_value: 0,
        n_items: 0,
        products: [],
        headers: [
          { text: 'Produtos', value: 'name' },
          { text: 'Categoria', value: 'category_name'},
          { text: 'Subcategoria', value: 'subcategory_name'},
          { text: 'Valor', value: 'value'},
          { text: 'Qtd', value: 'qtd'},
          { text: 'Ações', value: 'buttons'}
        ],
        search: '',
        cat_filter: null,
        edit_qtd_dialog: false,
        edit_item: {},
      }
    },

    mounted () {
      this.indexCart(this.$firebase);
    },

    computed: {
      ...mapGetters({
        getOneCartNumberOfItems: 'Cart/getOneCartNumberOfItems',
        getOneCartItems: 'Cart/getOneCartItems',
        getOneCartValue: 'Cart/getOneCartValue',
        getAllProducts: 'Product/getAllProducts',
      }),

      cart_items () {
        let list_items = []
        for (let product of this.one_cart) {
          list_items.push({...this.products.find(p => p.id == product.id), qtd: product.qtd})
        }
        if (this.cat_filter) {
          return list_items.filter(i => i.category_name == this.cat_filter || i.subcategory_name == this.cat_filter)
        } else {
          return list_items
        }
      },
    },

    methods: {
      ...mapActions({
        indexCart: 'Cart/index',
        removeProductFromCart: 'Cart/removeProductFromCart',
        editItemQtd: 'Cart/editItemQtd',
        pushToAllCarts: 'Cart/submitNewCart'
      }),

      removeItem (item) {
        this.removeProductFromCart({product: item})
      },

      editQtd (item) {
        this.edit_qtd_dialog = true
        this.edit_item = {...item}
      },

      clearItemEdit () {
        this.edit_qtd_dialog = false
        this.edit_item = {}
      },

      submitItemEdit () {
        if (this.edit_item.qtd >= 1 && this.edit_item.qtd <= Number(this.edit_item.stock)) {
          this.editItemQtd({product: this.edit_item})
          this.clearItemEdit()
        } else {
          alert("Valor inválido")
        }
      },

      submitNewCart () {
        let owner = prompt('Adicione seu nome ao carrinho')

        if (owner == '' || owner == null) {
          alert('O carrinho deve ter um nome para ser finalizado.')
        } else {
          this.pushToAllCarts({owner, firebase: this.$firebase})
        }
      }
    },

    watch: {
      getOneCartValue(nv) {
        if (nv) {
          this.one_cart_value = nv
          console.log(this.one_cart_value)
        } else {
          this.one_cart_value = 0
        }
      },
      getOneCartNumberOfItems(nv) {
        if (nv) {
          this.n_items = nv
        } else {
          this.n_items = 0
        }
      },
      getOneCartItems(nv) {
        if (nv) {
          this.one_cart = [...nv]
          console.log(this.one_cart)
        }
      },
      getAllProducts(nv) {
        if (nv) {
          this.products = [...nv]
        }
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
