<template>
    <nav>
        <v-app-bar app>
            <v-app-bar-nav-icon class="black--text" @click="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title class="text-uppercase black--text" style="cursor:pointer" @click="$router.push('/')">
                <span class="font-weight-normal">Supply chain - basic</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <new-cart></new-cart>
        </v-app-bar>


        <v-navigation-drawer v-model="drawer" app class="">
          <v-list>

            <v-list-group prepend-icon="mdi-account-tie" active-class="dark-blue--text text--accent-4" >
              <template v-slot:activator>
                <v-list-item-content>
                <v-list-item-title >Administrador</v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item v-for="(link) in admin_links" active-class="blue--text" :key="link.text" router :to="link.route" >
                <v-list-item-action>
                  <v-icon class="black--text" right>{{ link.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-subtitle class="black--text">{{ link.text }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>


            <v-list-group prepend-icon="mdi-account" active-class="dark-blueblue--text text--accent-4" >
              <template v-slot:activator>
                <v-list-item-content>
                <v-list-item-title>Usuário</v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item v-for="(link) in user_links" active-class="blue--text" :key="link.text" router :to="link.route" >
                <v-list-item-action>
                  <v-icon class="black--text" right >{{ link.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-subtitle class="black--text">{{ link.text }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
          </v-list>
        </v-navigation-drawer>

    </nav>

</template>


<script>
import NewCart from '@/components/cart/NewCart.vue'

export default {
    data() {
        return {
            drawer: false,
            admin_links: [
                { icon: 'mdi-file-plus', text: 'Adicionar Produtos', route: '/add'},
                { icon: 'mdi-format-list-checks', text: 'Verificar Produtos', route: '/verify'},
            ],

            user_links: [
                { icon: 'mdi-format-list-bulleted', text: 'Lista de Produtos', route: '/' },
                { icon: 'mdi-cart', text: 'Meus carrinhos', route: '/my_carts'},
            ],
        }
    },
    components: {
      NewCart,
    },
}
</script>
