
<template>
  <div>
    <div v-if="$route.params.kind == 'products'">
      <product-list></product-list>
    </div>
    <div v-if="$route.params.kind == 'categories'">
      <categories-list></categories-list>
    </div>
    <div v-if="$route.params.kind == 'subcategories'">
      <subcategories-list></subcategories-list>
    </div>

  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import CategoriesList from './CategoriesList'
import SubcategoriesList from './SubcategoriesList'
import ProductList from './ProductList'

export default {
  name: 'Add',
  components: {
    CategoriesList,
    SubcategoriesList,
    ProductList
  },
  data() {
    return {
      key: null
    }
  },
  methods: {
    names() {

    },
    ...mapActions({
      // function: 'Module/action'
    })
  },
  computed: {
    name() {
      return null
    },
    ...mapGetters({

    }),
    ...mapState({
      // data: state=> state.Module.state_var
    })
  },
  watch: {

  },
}
</script>

<style scoped>

</style>
