<template>

  <v-dialog v-model="dialog" persistent max-width="600px">

      <template v-slot:activator="{ on, attrs }">
        <v-btn color="primary" dark v-bind="attrs" v-on="on">Adicionar Produto</v-btn>
      </template>

      <v-form>
        <v-card>
          <v-card-title>
            <span class="headline">Novo Produto</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field label="Nome do Produto" v-model="newProduct.name" required></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <!-- listar as categorias -->
                  <!-- retornar o objeto para newProdcut.category_obj, -> no submit vc separar os atributos do obj & deletar o category_obj -->
                  <!-- OU retornar o ID para newProdcut.category_id, -> no submit vc encontrar o id na lista de categorias e pegar o nome para newProdcut.category_name -->
                  <v-text-field label="Categoria do Produto" v-model="newProduct.category" required></v-text-field>
                  <v-select
                    v-if="false"

                    return-object

                    item-text ="name"
                    item-value="id"

                    :items="items"
                    v-model="value"
                    label="label"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6">
                  <!-- listar as subcategorias -->
                  <!-- retornar o objeto para newProdcut.subcategory_obj, -> no submit vc separar os atributos do obj & deletar o subcategory_obj -->
                  <!-- OU retornar o ID para newProdcut.subcategory_id, -> no submit vc encontrar o id na lista de subcategorias e pegar o nome para newProdcut.subcategory_name -->
                  <v-text-field label="Subcategoria do Produto" v-model="newProduct.subcategory" required></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field label="Valor do Produto" v-model="newProduct.value" prefix="R$"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field label="Quantidade em Estoque" v-model="newProduct.stock" type="number" min="1"></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" dark @click="dialog = false">Fechar</v-btn>
            <v-btn color="success" dark @click="addProduct">Adicionar</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'addProductDialog',
    data() {
      return {
        dialog: false,
        products: [],
        subcategories: [],
        categories: [],
        newProduct: {
          name: '',
          subcategory: '',
          value: 0,
          stock: 0
        }
      }
    },

    methods: {
      addProduct () {

        let subcategory_id = this.subcategories.map(item => item.name.toUpperCase()).indexOf(this.newProduct.subcategory.toUpperCase())
        subcategory_id = this.subcategories[subcategory_id].id

        this.newProduct.subcategory = subcategory_id

        this.setProduct({item: this.newProduct, firebase: this.$firebase})
      },

      ...mapActions({
        setProduct: 'Product/setProduct'
      })
    },

    computed: {
      ...mapGetters({
        getAllProducts: 'Product/getAllProducts',
        getAllCategories: 'Product/getAllCategories',
        getAllSubcategories: 'Product/getAllSubcategories'
      })
    },

    watch: {
      getAllProducts(nv) {
        if (nv){
          this.products = [...nv]
        }
      },
      getAllCategories(nv) {
        if (nv){
          this.categories = [...nv]
        }
      },
      getAllSubcategories(nv) {
        if (nv){
          this.subcategories = [...nv]
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
