<template>
  <v-container>
    <v-data-table :items="categories" :headers="header">
      <template v-slot:item.buttons="{ item }">
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn @click="editCategory(item)" v-on="on" icon color="black"><v-icon>mdi-pencil</v-icon></v-btn>
          </template>
          <span>Editar Categoria</span>
        </v-tooltip>
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-btn @click="removeCategory(item)" v-on="on" icon color="black"><v-icon>mdi-delete</v-icon></v-btn>
          </template>
          <span>Excluir Caategoria</span>
        </v-tooltip>
      </template>
    </v-data-table>

    <v-container text-center>
      <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on">Adicionar Categoria</v-btn>
        </template>

        <v-card>
          <v-card-title>
            <span class="headline">Adicionar Categoria</span>
          </v-card-title>


          <v-card-text>
            <v-container>
              <v-text-field v-model="newCategory.name" label="Nome da Categoria"></v-text-field>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="dialog = false">Close</v-btn>
            <v-btn color="primary" text @click="addCategory">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>

    <v-container text-center>
      <v-dialog v-model="editDialog" persistent max-width="600px">

        <v-card>
          <v-card-title>
            <span class="headline">Editar Categoria</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-text-field v-model="newCategory.name" label="Nome da Categoria"></v-text-field>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="editDialog = false">Close</v-btn>
            <v-btn color="primary" text @click="updateCategory">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'CategoriesList',
    data() {
      return {
        header: [
          { text: 'Categorias', value: 'name' },
          { text: 'Ações', value: 'buttons' }
        ],
        categories: [],
        newCategory: {
          name: '',
          subcategories_ids: [],
          sub_names: []
        },
        dialog: false,
        editDialog: false
      }
    },

    mounted () {
      this.indexCategories(this.$firebase)
    },

    computed: {
      ...mapGetters ({
        getAllCategories: 'Product/getAllCategories'
      })
    },

    methods: {
      ...mapActions ({
        indexCategories: 'Product/index',
        setCategory: 'Product/setCategory',
        deleteCategory: 'Product/deleteCategory',
        renovateCategory: 'Product/renovateCategory'
      }),

      addCategory () {
        console.log(this.newCategory)
        this.dialog = false
        this.setCategory({ item: this.newCategory, firebase: this.$firebase })
      },

      removeCategory (item) {
        this.deleteCategory({ item, firebase: this.$firebase })
      },

      editCategory (item) {
        this.newCategory = Object.assign({}, item)
        this.editDialog = true
      },

      updateCategory () {
        this.renovateCategory({ item: this.newCategory, firebase: this.$firebase })
        this.editDialog = false
      }
    },

    watch: {
      getAllCategories(nv) {
        if (nv){
          this.categories = [...nv]
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
