<template>
  <v-container>
    <v-data-iterator :search="search" :items="products_filtered" :custom-filter="customFilter" mobile-breakpoint="1">
      <template v-slot:header>
        <v-text-field v-model="search" prepend-inner-icon="mdi-magnify" label="Pesquisar" ></v-text-field>

        <div v-if="cat_filter">
          <v-chip close @click="cat_filter = null" @click:close="cat_filter = null">{{cat_filter}}</v-chip>
        </div>
      </template>

      <template v-slot:default="props">
        <v-row>
          <v-col v-for="item in props.items" :key="item.name" cols="12" sm="6" md="4" lg="3">
            <v-card>
              <v-card-title class="subheading font-weight-bold">
                <span class="text-truncate">{{ item.name }}</span>
              </v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-item class="justify-center">
                  <v-img alt="Coca-cola 2,5 litros" class="shrink mr-2" contain src="@/assets/coca-2.5-litros.jpg" transition="scale-transition" width="40" />
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>Valor:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ item.value.toLocaleString('pt-BR', {style: 'currency', currency: "BRL"}) }}</v-list-item-content>
                </v-list-item>


                <v-row class="px-4">
                  <v-chip @click="cat_filter=item.category_name" class="mx-1" small color="grey lighten-2">
                    {{item.category_name}}
                  </v-chip>
                  <v-chip @click="cat_filter=item.subcategory_name" class="mx-1" small color="grey lighten-3">
                    {{item.subcategory_name}}
                  </v-chip>
                </v-row>

                <v-list-item class="justify-center">
                  <!-- <v-btn @click="teste">Adicionar ao Carrinho</v-btn> -->
                  <v-tooltip left>
                    <template v-slot:activator="{ on }">
                      <v-btn @click="editProduct(item)" v-on="on" icon color="black"><v-icon>mdi-pencil</v-icon></v-btn>
                    </template>
                    <span>Editar Produto</span>
                  </v-tooltip>

                  <v-tooltip right>
                    <template v-slot:activator="{ on }">
                      <v-btn @click="removeProduct(item)" v-on="on" icon color="black"><v-icon>mdi-delete</v-icon></v-btn>
                    </template>
                    <span>Excluir Produto</span>
                  </v-tooltip>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </template>

      <template v-slot:footer>

      </template>
      <!-- <template v-slot:header>
        <v-text-field v-model="search" prepend-icon="mdi-magnify" label="Pesquisar"></v-text-field>

        <v-chip close @click="cat_filter = null" @click:close="cat_filter = null" v-if="cat_filter">
          {{ cat_filter }}
        </v-chip>
      </template>

      <template v-slot:item.category_name="{ item }">
        <v-chip @click="cat_filter = item.category_name" small>{{ item.category_name }}</v-chip>
      </template>

      <template v-slot:item.subcategory_name="{ item }">
        <v-chip @click="cat_filter = item.subcategory_name" small>{{ item.subcategory_name }}</v-chip>
      </template>

      <template v-slot:item.buttons="{ item }">
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn @click="editProduct(item)" v-on="on" icon color="black"><v-icon>mdi-pencil</v-icon></v-btn>
          </template>
          <span>Editar Produto</span>
        </v-tooltip>

        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-btn @click="removeProduct(item)" v-on="on" icon color="black"><v-icon>mdi-delete</v-icon></v-btn>
          </template>
          <span>Excluir Produto</span>
        </v-tooltip>
      </template> -->
    </v-data-iterator>

    <v-container text-center>
      <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on">Adicionar Produto</v-btn>
        </template>

        <v-card>
          <v-card-title>
            <span class="headline">Adicionar Produto</span>
          </v-card-title>


          <v-card-text>
            <v-container>
              <v-select :items="categories" v-model="category" return-object item-text="name"></v-select>
              <v-select v-if="category.name" :items="category.sub_names" v-model="subcategory" return-object item-text="name"></v-select>
              <v-text-field v-model="newProduct.name" label="Nome do Produto"></v-text-field>
              <v-text-field v-model="newProduct.value" type="number" label="Valor do Produto"></v-text-field>
              <v-text-field v-model.number="newProduct.stock" type="number" label="Quantidade em Estoque"></v-text-field>
              <v-file-input ref="file_input" color="var(--featured)" accept="image/*" @change="handleImage($event)" label="Adicionar Imagem do Produto"></v-file-input>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="dialog = false">Close</v-btn>
            <v-btn color="primary" text @click="addProduct">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>

    <v-container text-center>
      <v-dialog v-model="editDialog" persistent max-width="600px">

        <v-card>
          <v-card-title>
            <span class="headline">Editar Produto</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-select :items="categories" v-model="category" return-object item-text="name"></v-select>
              <v-select :items="category.sub_names" v-model="subcategory" return-object item-text="name"></v-select>
              <v-text-field v-model="newProduct.name" label="Nome do Produto"></v-text-field>
              <v-text-field v-model="newProduct.value" type="number" label="Valor do Produto"></v-text-field>
              <v-text-field v-model="newProduct.stock" type="number" label="Quantidade em Estoque"></v-text-field>
              <v-file-input ref="file_input" color="var(--featured)" accept="image/*" @change="handleImage($event)" label="Adicionar Imagem do Produto"></v-file-input>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="editDialog = false">Close</v-btn>
            <v-btn color="primary" text @click="submitProduct">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'ProductList',
    data() {
      return {
        header: [
          { text: 'Produtos', value: 'name' },
          { text: 'Categoria', value: 'category_name'},
          { text: 'Subcategoria', value: 'subcategory_name'},
          { text: 'Valor', value: 'value'},
          { text: 'Estoque', value: 'stock'},
          { text: 'Ações', value: 'buttons'}
        ],
        products: [],
        newProduct: {
          name: '',
          subcategory_id: '',
          subcategory_name: '',
          category_id: '',
          category_name: '',
          stock: 0,
          productImage: ''
        },
        defaultProduct: {
          name: '',
          subcategory_id: '',
          subcategory_name: '',
          category_id: '',
          category_name: '',
          stock: '',
        },
        category: {},
        subcategory: {},
        categories: [],
        subcategories: [],
        dialog: false,
        editDialog: false,
        search: '',
        cat_filter: null,
      }
    },

    mounted () {
      this.indexProducts(this.$firebase)

    },

    computed: {
      ...mapGetters ({
        getAllProducts: 'Product/getAllProducts',
        getAllSubcategories: 'Product/getAllSubcategories',
        getAllCategories: 'Product/getAllCategories',
      }),

      products_filtered () {
        if (this.cat_filter) {
          return this.products.filter(p => p.category_name == this.cat_filter || p.subcategory_name == this.cat_filter)
        } else {
          return this.products
        }
      }
    },

    methods: {
      ...mapActions ({
        indexProducts: 'Product/index',
        setProduct: 'Product/setProduct',
        deleteProduct: 'Product/deleteProduct',
        updateProduct: 'Product/updateProduct'
      }),

      customFilter (value, search, item) {
        console.log({value})
        console.log({search})
        console.log({item})

        if (search) {
          search = search.toLowerCase()

          let found = value.filter(v => v.value.toFixed(2).toLowerCase().includes(search) || v.name.toLowerCase().includes(search) || v.category_name.toLowerCase().includes(search) || v.subcategory_name.toLowerCase().includes(search))

          return found
        } else {
          return value
        }
      },

      addProduct () {
        this.newProduct.value = Number(this.newProduct.value)
        this.setProduct({ item: this.newProduct, category: this.category, subcategory: this.subcategory, firebase: this.$firebase })
        this.newProduct = Object.assign({}, this.defaultProduct)
        this.category = {}
        this.subcategory = {}
        this.dialog = false
      },

      removeProduct (item) {
        this.deleteProduct({ item, firebase: this.$firebase })
      },

      editProduct (item) {
        console.log(item)
        this.newProduct = Object.assign({}, item)
        this.category = this.categories.find(c=> c.name == item.category_name)
        this.subcategory = this.subcategories.find(s=> s.name == item.subcategory_name)
        this.editDialog = true
      },

      submitProduct () {
        this.updateProduct({ item: this.newProduct, category: this.category, subcategory: this.subcategory, firebase: this.$firebase })
        this.editDialog = false
      },

      handleImage (ev) {
        this.newProduct.productImage = ev
        console.log(this.newProduct.productImage)
      }
    },

    watch: {
      getAllProducts(nv) {
        if (nv){
          this.products = [...nv]
        }
      },
      getAllSubcategories(nv) {
        if (nv){
          this.subcategories = [...nv]
        }
      },
      getAllCategories(nv) {
        if (nv){
          this.categories = [...nv]
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
