<template>
  <v-container>
    <v-data-table :items="subcategories" :headers="header">
      <template v-slot:item.buttons="{ item }">
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn @click="editSubcategory(item)" v-on="on" icon color="black"><v-icon>mdi-pencil</v-icon></v-btn>
          </template>
          <span>Editar Subcategoria</span>
        </v-tooltip>
        <v-tooltip right>
          <template v-slot:activator="{ on }">
            <v-btn @click="removeSubcategory(item)" v-on="on" icon color="black"><v-icon>mdi-delete</v-icon></v-btn>
          </template>
          <span>Excluir Subcategoria</span>
        </v-tooltip>
      </template>
    </v-data-table>

    <v-container text-center>
      <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on">Adicionar Subcategoria</v-btn>
        </template>

        <v-card>
          <v-card-title>
            <span class="headline">Adicionar Subcategoria</span>
          </v-card-title>


          <v-card-text>
            <v-container>
              <v-select :items="categories" v-model="category" return-object item-text="name"></v-select>
              <v-text-field v-model="newSubcategory.name" label="Nome da Subcategoria"></v-text-field>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="dialog = false">Close</v-btn>
            <v-btn color="primary" text @click="addSubcategory">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>

    <v-container text-center>
      <v-dialog v-model="editDialog" persistent max-width="600px">

        <v-card>
          <v-card-title>
            <span class="headline">Editar Subcategoria</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-select :items="categories" v-model="category" return-object item-text="name"></v-select>
              <v-text-field v-model="newSubcategory.name" label="Nome da Subcategoria"></v-text-field>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="editDialog = false">Close</v-btn>
            <v-btn color="primary" text @click="submitSubcategory">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'CategoriesList',
    data() {
      return {
        header: [
          { text: 'Subcategorias', value: 'name' },
          { text: 'Ações', value: 'buttons' }
        ],
        categories: [],
        subcategories: [],
        category: {},
        newSubcategory: {
          name: '',
          category_id: '',
          category_name: '',
        },
        defaultSubcategory: {
          name: '',
          category_id: ''
        },
        dialog: false,
        editDialog: false
      }
    },

    mounted () {
      this.indexSubcategories(this.$firebase)
    },

    computed: {
      ...mapGetters ({
        getAllSubcategories: 'Product/getAllSubcategories',
        getAllCategories: 'Product/getAllCategories'
      })
    },

    methods: {
      ...mapActions ({
        indexSubcategories: 'Product/index',
        setSubcategory: 'Product/setSubcategory',
        deleteSubcategory: 'Product/deleteSubcategory',
        updateSubcategory: 'Product/updateSubcategory'
      }),

      addSubcategory () {
        this.setSubcategory({ item: this.newSubcategory, category: this.category, firebase: this.$firebase })
        this.newSubcategory = Object.assign({}, this.defaultSubcategory)
        this.dialog = false
      },

      removeSubcategory (item) {
        this.deleteSubcategory({ item, firebase: this.$firebase })
      },

      editSubcategory (item) {
        this.newSubcategory = Object.assign({}, item)
        console.log('cat', this.newSubcategory.category_id)
        let cat_id = this.newSubcategory.category_id.path.split('/').pop()
        this.category = this.categories.find(c=> c.id == cat_id)

        if (!Object.keys(this.category).length){
          const categoryRef = this.$firebase.firestore().doc(this.newSubcategory.category_id.path)

          categoryRef.get().then((doc) => {
            this.category = doc.data()
            this.category.id = doc.id

            this.editDialog = true
          })
        } else {
          this.editDialog = true
        }
      },

      submitSubcategory () {
        if (this.newSubcategory.category_id.path.split('/').pop() != this.category.id){
          this.newSubcategory.changed_cat = true
        }
        this.updateSubcategory({ item: this.newSubcategory, category: this.category, firebase: this.$firebase })
        this.newSubcategory = Object.assign({}, this.defaultSubcategory)
        this.editDialog = false
      }
    },

    watch: {
      getAllSubcategories(nv) {
        if (nv){
          this.subcategories = [...nv]
        }
      },

      getAllCategories(nv) {
        if (nv){
          this.categories = [...nv]
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
