<template>
  <v-container>
    <v-row justify="center">
      <v-btn to="/add/categories" :outlined="$route.params.kind != 'categories'" color="primary" small>Lista de Cateogorias</v-btn>
      <v-btn to="/add/subcategories" :outlined="$route.params.kind != 'subcategories'" color="primary" small>Lista de Subcateogorias</v-btn>
      <v-btn to="/add/products" :outlined="$route.params.kind != 'products'" color="primary" small>Lista de Produtos</v-btn>
      <v-btn small outlined disabled>Lista de Usuários</v-btn>
    </v-row>

     <v-container>
       <router-view></router-view>
     </v-container>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'AddProduct',
    components: {
    },
    data: () => ({
      search: '',
      itemsPerPage: 8,
      products: [],
      categories: [],
      subcategories: [],
      addProductDialog: false
    }),

    mounted () {
      this.indexProducts(this.$firebase)
    },

    methods: {
      teste () {
        let docRef = this.$firebase.firestore().doc(this.subcategories[0].category_id.path)
        console.log(docRef.data())
      },

      ...mapActions ({
        indexProducts: 'Product/index',
        setProduct: 'Product/setProduct'
      }),

      addProduct () {
        this.setProduct({item: 'suco de limão', firebase: this.$firebase})
      }
    },

    computed: {
      ...mapGetters({
        getAllProducts: 'Product/getAllProducts',
        getAllCategories: 'Product/getAllCategories',
        getAllSubcategories: 'Product/getAllSubcategories'
      })
    },

    watch: {
      getAllProducts(nv) {
        if (nv){
          this.products = [...nv]
        }
      },
      getAllCategories(nv) {
        if (nv){
          this.categories = [...nv]
        }
      },
      getAllSubcategories(nv) {
        if (nv){
          this.subcategories = [...nv]
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
.overflow{
  overflow: hidden auto;
  height: calc(100vh - 64px);
}
</style>
