<template>
  <div>
    <v-container>
      <v-row style="height: 100vh">
        <v-form ref="form" class="mx-auto my-auto white" style="width: 400px">
          <v-card>
            <v-container>
              <v-card-title class="justify-space-around">
                <v-btn rounded outlined width="150" color="red">Usário comum</v-btn>
                <v-btn rounded outlined width="150" color="red">Administrador</v-btn>
              </v-card-title>
            </v-container>

            <v-card-text>
              <v-text-field type="email" label="E-mail" v-model="email" :rules="emailRules" required></v-text-field>
              <v-text-field type="password" label="Senha" v-model="password" :rules="passwordRules" required></v-text-field>
            </v-card-text>

            <v-card-actions>
              <v-btn block @click="doLogin" :disabled="loading">
                <template v-if="loading">
                  <v-icon>mdi-loading mdi-spin</v-icon>
                  Entrando...
                </template>
                <template v-else>
                  <v-icon>mdi-login-variant</v-icon>
                  Entrar
                </template>
              </v-btn>
            </v-card-actions>

          </v-card>
        </v-form>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  export default {
    data: () => ({
      loading: false,
      password: process.env.NODE_ENV === 'development' ? 'lucasvieira98' : '',
      passwordRules: [
        v => !!v || 'Senha é obrigatório'
      ],
      email: process.env.NODE_ENV === 'development' ? 'vieira_lucas98@outlook.com' : '',
      emailRules: [
        v => !!v || 'E-mail é obrigatório',
        v => /.+@.+\.+/.test(v) || 'E-mail deve ser válido'
      ]
    }),
    methods: {
      doLogin () {
        console.log(this.$firebase)
      }
    },
  }
</script>

<style lang="scss" scoped>
.btn{
  justify-content: space-around;
}
</style>
