<template>
  <v-container>
    <v-row justify="center">
      <v-btn to="/my_carts/under_review" :outlined="$route.params.kind != 'under_review'" color="primary" small class="mx-2">Em Análise</v-btn>
      <v-btn to="/my_carts/approved" :outlined="$route.params.kind != 'approved'" color="primary" small class="mx-2">Aprovados</v-btn>
      <v-btn to="/my_carts/repproved" :outlined="$route.params.kind != 'repproved'" color="primary" small class="mx-2">Reprovados</v-btn>
    </v-row>

     <v-container>
       <router-view></router-view>
     </v-container>
  </v-container>
</template>

<script>

  export default {
    name: 'MyCarts',
    components: {
    },
    data: () => ({
      search: '',
    }),

    mounted () {
    },

    methods: {
    },

    computed: {
    },

    watch: {
    },
  }
</script>

<style lang="scss" scoped>

</style>
