<template>
  <v-container>
    <v-data-iterator :search="search" :items="products_filtered" :custom-filter="customFilter" :mobile-breakpoint="1">
      <template v-slot:header>
        <v-text-field v-model="search" prepend-inner-icon="mdi-magnify" label="Pesquisar" ></v-text-field>

        <div v-if="cat_filter">
          <v-chip close @click="cat_filter = null" @click:close="cat_filter = null">{{cat_filter}}</v-chip>
        </div>
      </template>

      <template v-slot:default="props">
        <v-row>
          <v-col v-for="item in props.items" :key="item.name" cols="12" sm="6" md="4" lg="2">
            <v-card>
              <v-card-title class="subheading font-weight-bold">
                <span class="text-truncate">{{ item.name }}</span>
              </v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-item class="justify-center">
                  <v-img alt="Coca-cola 2,5 litros" class="shrink mr-2" contain src="../assets/coca-2.5-litros.jpg" transition="scale-transition" width="40" />
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>Valor:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ item.value.toLocaleString('pt-BR', {style: 'currency', currency: "BRL"}) }}</v-list-item-content>
                </v-list-item>


                <v-row class="px-4">
                  <v-chip @click="cat_filter=item.category_name" class="mx-1" small color="grey lighten-2">
                    {{item.category_name}}
                  </v-chip>
                  <v-chip @click="cat_filter=item.subcategory_name" class="mx-1" small color="grey lighten-3">
                    {{item.subcategory_name}}
                  </v-chip>
                </v-row>

                <v-list-item class="justify-end">
                  <!-- <v-btn @click="teste">Adicionar ao Carrinho</v-btn> -->
                  <v-btn text fab small color="primary" @click="addToCart(item)"><v-icon>mdi-cart-plus</v-icon></v-btn>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </template>

      <template v-slot:footer>

      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'ProductList',
    components: {

    },
    data: () => ({
      cat_filter:null,
      search: '',
      itemsPerPage: 8,
      products: [],
      categories: [],
      subcategories: [],
      filterCategory: {},
      filterSubcategory: {},
      oneCart: {}
    }),

    mounted () {
      this.indexProducts(this.$firebase)
      this.indexCart(this.$firebase)
    },

    methods: {
      customFilter(value, search, item){
        console.log({value});
        console.log({search});
        console.log({item});

        if (search){
          search = search.toLowerCase()
          let found = value.filter(v=> v.value.toFixed(2).toLowerCase().includes(search) || v.name.toLowerCase().includes(search) || v.category_name.toLowerCase().includes(search) || v.subcategory_name.toLowerCase().includes(search))
          return found
        } else {
          return value
        }

      },
      addToCart (item) {
        console.log(item)

        this.addProduct({product: item})
      },

      ...mapActions ({
        indexProducts: 'Product/index',
        indexCart: 'Cart/index',
        setProduct: 'Product/setProduct',
        addProduct: 'Cart/addProduct'
      }),
    },

    computed: {
      products_filtered(){
        if (this.cat_filter){
          return this.products.filter(p => p.category_name == this.cat_filter || p.subcategory_name == this.cat_filter)
        }
        return this.products
      },
      ...mapGetters({
        allProductsComponent: 'Product/getAllProducts',
        allCategoriesComponent: 'Product/getAllCategories',
        allSubcategoriesComponent: 'Product/getAllSubcategories',
        getOneCart: 'Cart/getOneCart'
      })
    },

    watch: {
      allProductsComponent(nv) {
        if (nv){
          this.products = [...nv]
        }
      },
      allCategoriesComponent(nv) {
        if (nv){
          this.categories = [...nv]
        }
      },
      allSubcategoriesComponent(nv) {
        if (nv){
          this.subcategories = [...nv]
        }
      },
      getOneCart(nv) {
        if (nv) {
          this.oneCart = nv
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
.overflow{
  overflow: hidden auto;
  height: calc(100vh - 64px);
}
.sua-div {
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
