<template>
  <v-container>
    <v-row justify="center">
      <v-btn to="/verify/under_review" :outlined="$route.params.kind != 'under_review'" color="primary" small class="mx-2">Em Análise</v-btn>
      <v-btn to="/verify/approved" :outlined="$route.params.kind != 'approved'" color="primary" small class="mx-2">Aprovados</v-btn>
      <v-btn to="/verify/repproved" :outlined="$route.params.kind != 'repproved'" color="primary" small class="mx-2">Reprovados</v-btn>
    </v-row>

     <v-container>
       <router-view></router-view>
     </v-container>
  </v-container>
</template>

<script>
import Api from '../api/index'
import { mapActions } from 'vuex'

  export default {
    name: 'MyCarts',
    components: {
    },
    data: () => ({
      search: '',
    }),

    mounted () {
      this.getPosts()
      this.indexPosts()
    },

    methods: {
      getPosts(){
        Api.Post.index().then(r=>{
          console.log({r});
          return r.data
        }).then(d=>{
          console.log({d});
        })
      },
      ...mapActions({
        indexPosts: 'Post/index'
      })
    },

    computed: {
    },

    watch: {
    },
  }
</script>

<style lang="scss" scoped>

</style>
