<template>
  <v-container>
    <div class="title">Meus Carrinhos</div>
      <v-data-iterator :search="search" :items="getApprovedCarts" :mobile-breakpoint="1">
        <template v-slot:header>
          <v-text-field v-model="search" prepend-inner-icon="mdi-magnify" label="Pesquisar" ></v-text-field>
        </template>

        <template v-slot:default="props">
          <v-row>
            <v-col v-for="(item, idx) in props.items" :key="item.name" cols="12" sm="6" md="4" lg="4">
              <v-card>
                <v-card-title class="subheading font-weight-bold">
                  <span class="text-truncate">Carrinho #{{ idx+1 }}</span>
                </v-card-title>

                <v-divider></v-divider>

                <v-list dense>

                  <v-list-item>
                    <v-list-item-content>Proprietário:</v-list-item-content>
                    <v-spacer></v-spacer>
                    <v-list-item-content class="align-end">{{ item.owner }}</v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-content>#items:</v-list-item-content>
                    <v-spacer></v-spacer>
                    <v-list-item-content class="align-end">{{ item.n_items }}</v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-content>Valor:</v-list-item-content>
                    <v-spacer></v-spacer>
                    <v-list-item-content class="align-end">{{ item.value.toLocaleString('pt-BR', {style: 'currency', currency: "BRL"}) }}</v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-content>Status:</v-list-item-content>
                    <v-spacer></v-spacer>
                    <v-list-item-content class="align-end success--text">Aprovado</v-list-item-content>
                  </v-list-item>

                  <v-list-item class="justify-end">
                    <!-- <v-btn @click="teste">Adicionar ao Carrinho</v-btn> -->
                    <v-btn text fab small color="primary" @click="showCart(item, idx)"><v-icon>mdi-cart</v-icon></v-btn>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
        </template>

        <template v-slot:footer>

        </template>
      </v-data-iterator>

      <v-dialog scrollable v-model="show_cart" v-if="show_cart">
        <v-card>
          <v-card-title class="justify-space-between">
            <div>Carrinho #{{ cart_idx + 1 }}</div>
            <div>Proprietário: {{ cart.owner }}</div>
          </v-card-title>

          <v-divider></v-divider>

          <v-card-text>
            <v-container>
              <v-data-table :items="cart_items" :headers="headers">
                <template v-slot:top>
                  <v-text-field v-model="search" prepend-inner-icon="mdi-magnify" label="Pesquisar"></v-text-field>

                  <div v-if="cat_filter">
                    <v-chip close @click="cat_filter = null" @click:close="cat_filter = null">{{ cat_filter }}</v-chip>
                  </div>
                </template>

                <template v-slot:item.category_name="{ item }">
                <v-chip @click="cat_filter = item.category_name" small>{{ item.category_name }}</v-chip>
              </template>

              <template v-slot:item.subcategory_name="{ item }">
                <v-chip @click="cat_filter = item.subcategory_name" small>{{ item.subcategory_name }}</v-chip>
              </template>

                <template v-slot:item.value="{ item }">
                  {{ item.value.toLocaleString('pt-BR', {style: 'currency', currency: "BRL"}) }}
                </template>
              </v-data-table>

            </v-container>

            <div>
              <p class="display-1 text-right">Total: {{ cart.value.toLocaleString('pt-BR', {style: 'currency', currency: "BRL"}) }}</p>
            </div>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-btn @click="show_cart = false">Fechar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    <div>

    </div>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'MyCarts',

    data() {
      return {
        all_carts: [],
        search: '',
        cat_filter: '',
        cart: {},
        cart_idx: 0,
        show_cart: false,
        products: [],
        headers: [
          { text: 'Produto', value: 'name'},
          { text: 'Categoria', value: 'category_name'},
          { text: 'Subcategoria', value: 'subcategory_name'},
          { text: 'Valor (un.)', value: 'value'},
          { text: 'qtd', value: 'qtd'},
        ]
      }
    },

    mounted () {
      this.indexProducts(this.$firebase)
    },

    computed: {
      ...mapGetters({
        getApprovedCarts: 'Cart/getApprovedCarts',
        getAllProducts: 'Product/getAllProducts',
      }),

      cart_items () {
        let list_items = []
        for (let product of this.cart.items) {
          list_items.push({...this.products.find(p => p.id == product.id), qtd: product.qtd})
        }
        if (this.cat_filter) {
          return list_items.filter(i => i.category_name == this.cat_filter || i.subcategory_name == this.cat_filter)
        } else {
          return list_items
        }
      },
    },

    methods: {
      ...mapActions({
        indexProducts: 'Product/index',
      }),

      showCart (item, idx) {
        console.log(idx)
        this.cart_idx = idx
        this.cart = item
        this.show_cart = true
      }
    },

    watch: {
      getAllProducts (nv) {
        if (nv) {
          this.products = [...nv]
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>
