
<template>
  <div>
    <div v-if="$route.params.kind == 'under_review'">
      <my-carts-under-review></my-carts-under-review>
    </div>
    <div v-if="$route.params.kind == 'approved'">
      <my-carts-approved></my-carts-approved>
    </div>
    <div v-if="$route.params.kind == 'repproved'">
      <my-carts-repproved></my-carts-repproved>
    </div>

  </div>
</template>

<script>
import MyCartsApproved from './MyCartsApproved'
import MyCartsRepproved from './MyCartsRepproved'
import MyCartsUnderReview from './MyCartsUnderReview'

export default {
  name: 'MyCartsGeneral',
  components: {
    MyCartsApproved,
    MyCartsRepproved,
    MyCartsUnderReview
  },
  data() {
    return {
      key: null
    }
  },
  methods: {

  },
  computed: {

  },
  watch: {

  },
}
</script>

<style scoped>

</style>
