<template>
  <v-container>
    <div class="title">Meus Carrinhos</div>
      <v-data-iterator :search="search" :items="getUnderReviewCarts" :mobile-breakpoint="1">
        <template v-slot:header>
          <v-text-field v-model="search" prepend-inner-icon="mdi-magnify" label="Pesquisar" ></v-text-field>
        </template>

        <template v-slot:default="props">
          <v-row>
            <v-col v-for="(item, idx) in props.items" :key="item.name" cols="12" sm="6" md="4" lg="4">
              <v-card>
                <v-card-title class="subheading font-weight-bold">
                  <span class="text-truncate">Carrinho #{{ idx+1 }}</span>
                </v-card-title>

                <v-divider></v-divider>

                <v-list dense>

                  <v-list-item>
                    <v-list-item-content>Proprietário:</v-list-item-content>
                    <v-spacer></v-spacer>
                    <v-list-item-content class="align-end">{{ item.owner }}</v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-content>#items:</v-list-item-content>
                    <v-spacer></v-spacer>
                    <v-list-item-content class="align-end">{{ item.n_items }}</v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-content>Valor:</v-list-item-content>
                    <v-spacer></v-spacer>
                    <v-list-item-content class="align-end">{{ item.value.toLocaleString('pt-BR', {style: 'currency', currency: "BRL"}) }}</v-list-item-content>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-content>Status:</v-list-item-content>
                    <v-spacer></v-spacer>
                    <v-list-item-content class="align-end">Em Análise</v-list-item-content>
                  </v-list-item>

                  <v-list-item class="justify-end">
                    <!-- <v-btn @click="teste">Adicionar ao Carrinho</v-btn> -->
                    <v-btn text fab small color="primary" @click="showCart(item, idx)"><v-icon>mdi-cart</v-icon></v-btn>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
        </template>

        <template v-slot:footer>

        </template>
      </v-data-iterator>

      <v-dialog scrollable v-model="show_cart" v-if="show_cart">
        <v-card>
          <v-card-title class="justify-space-between">
            <div>Carrinho #{{ cart_idx + 1 }}</div>
            <div>Proprietário: {{ cart.owner }}</div>
          </v-card-title>

          <v-divider></v-divider>

          <v-card-text>
            <v-container>
              <v-data-table :items="cart_items" :headers="headers">
                <template v-slot:top>
                  <v-text-field v-model="search" prepend-inner-icon="mdi-magnify" label="Pesquisar"></v-text-field>

                  <div v-if="cat_filter">
                    <v-chip close @click="cat_filter = null" @click:close="cat_filter = null">{{ cat_filter }}</v-chip>
                  </div>
                </template>

                <template v-slot:item.category_name="{ item }">
                <v-chip @click="cat_filter = item.category_name" small>{{ item.category_name }}</v-chip>
              </template>

              <template v-slot:item.subcategory_name="{ item }">
                <v-chip @click="cat_filter = item.subcategory_name" small>{{ item.subcategory_name }}</v-chip>
              </template>

                <template v-slot:item.value="{ item }">
                  {{ item.value.toLocaleString('pt-BR', {style: 'currency', currency: "BRL"}) }}
                </template>

                <template v-slot:item.actions="{ item }">
                  <v-tooltip left>
                    <template v-slot:activator="{ on }">
                      <v-btn v-model="item.action" :text="item.status" :class="item.status == 'under_review' ? '' : 'approved'" @click="approveSingleItem(item)" v-on="on" icon :color="cart.items[cart.items.indexOf(cart.items.find(i=> i.id == item.id))].status == 'approved'? 'success' : 'black'"><v-icon>mdi-check-bold</v-icon></v-btn>
                    </template>
                    <span>Aprovar Produto</span>
                  </v-tooltip>
                  <v-tooltip right>
                    <template v-slot:activator="{ on }">
                      <v-btn v-model="item.action" :text="item.status" :class="item.status == 'under_review' ? '' : 'disapproved'" @click="repproveSingleItem(item)" v-on="on" icon :color="cart.items[cart.items.indexOf(cart.items.find(i=> i.id == item.id))].status == 'disapproved'? 'error' : 'black'"><v-icon>mdi-close-thick</v-icon></v-btn>
                    </template>
                    <span>Reprovar Produto</span>
                  </v-tooltip>
                </template>
              </v-data-table>

            </v-container>

            <div>
              <p class="display-1 text-right">Total: {{ cart.value.toLocaleString('pt-BR', {style: 'currency', currency: "BRL"}) }}</p>
            </div>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-btn class="success" @click="approveAll">Aprovar Tudo</v-btn>
            <v-btn class="error" @click="disapproveAll">Reprovar Tudo</v-btn>
            <v-btn @click="show_cart = false">Fechar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    <div>

    </div>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'VerifyUnderReview',

    data() {
      return {
        all_carts: [],
        search: '',
        cat_filter: '',
        cart: {},
        cart_idx: 0,
        show_cart: false,
        products: [],
        headers: [
          { text: 'Produto', value: 'name'},
          { text: 'Categoria', value: 'category_name'},
          { text: 'Subcategoria', value: 'subcategory_name'},
          { text: 'Valor (un.)', value: 'value'},
          { text: 'qtd', value: 'qtd'},
          { text: 'Ações', value: 'actions' }
        ]
      }
    },

    mounted () {
      this.indexProducts(this.$firebase)
    },

    computed: {
      ...mapGetters({
        getAllProducts: 'Product/getAllProducts',
        getUnderReviewCarts: 'Cart/getUnderReviewCarts'
      }),

      cart_items () {
        let list_items = []
        for (let product of this.cart.items) {
          list_items.push({...this.products.find(p => p.id == product.id), qtd: product.qtd})
        }
        if (this.cat_filter) {
          return list_items.filter(i => i.category_name == this.cat_filter || i.subcategory_name == this.cat_filter)
        } else {
          return list_items
        }
      },
    },

    methods: {
      ...mapActions({
        indexProducts: 'Product/index',
        approveOneItem: 'Cart/approveOneItem',
        disapproveOneItem: 'Cart/disapproveOneItem',
        approveAllCart: 'Cart/approveAllCart',
        disapproveAllCart: 'Cart/disapproveAllCart'
      }),

      showCart (item, idx) {
        console.log(idx)
        this.cart_idx = idx
        this.cart = item
        this.show_cart = true
      },

      approveSingleItem (item) {
        let c = confirm('Deseja Aprovar o item?')

        if(c) {
          this.approveOneItem({product: item.id, cart: this.cart, firebase: this.$firebase})
        }
      },

      repproveSingleItem (item) {
        let c = confirm('Deseja Reprovar o item?')

        if(c) {
          this.disapproveOneItem({product: item.id, cart: this.cart, firebase: this.$firebase})
        }
      },

      approveAll () {
        let c = confirm('Deseja Aprovar todo o carrinho?')

        if (c) {
          this.approveAllCart({cart: this.cart, firebase: this.$firebase})
        }
      },

      disapproveAll () {
        let c = confirm('Deseja Desaprovar todo o carrinho?')

        if (c) {
          this.disapproveAllCart({cart: this.cart, firebase: this.$firebase})
        }
      }

    },

    watch: {
      getAllProducts (nv) {
        if (nv) {
          this.products = [...nv]
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
.approved:hover i{
  color: #00FF00;
}
.disapprove:hover i{
  color: red;
}
</style>
