
<template>
  <div>
    <div v-if="$route.params.kind == 'under_review'">
      <verify-under-review></verify-under-review>
    </div>
    <div v-if="$route.params.kind == 'approved'">
      <verify-approved></verify-approved>
    </div>
    <div v-if="$route.params.kind == 'repproved'">
      <verify-repproved></verify-repproved>
    </div>

  </div>
</template>

<script>
import VerifyApproved from './VerifyApproved'
import VerifyRepproved from './VerifyRepproved'
import VerifyUnderReview from './VerifyUnderReview'

export default {
  name: 'VerifyGeneral',
  components: {
    VerifyApproved,
    VerifyRepproved,
    VerifyUnderReview
  },
  data() {
    return {
      key: null
    }
  },
  methods: {

  },
  computed: {

  },
  watch: {

  },
}
</script>

<style scoped>

</style>
