<template>
<div>
  <v-app>

    <Header></Header>

    <v-main>
      <router-view></router-view>
    </v-main>

  </v-app>

</div>

</template>

<script>
import Header from './components/shared/Header'

export default {
  name: 'App',

  components: {
    Header
  },

  data: () => ({
    //
  }),

  created () {

  }
}
</script>
